body {
  margin: 0;
  background: #303030;
}

img.preview {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 400px;
  max-width: 100%;
  height: auto;
  transform: translate(-50%,-50%);
}

canvas {
  position: relative;
  display: block;
  z-index: 1;
}

.message {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-family: sans-serif;
  font-size: 0.9em;
  z-index: 2;
}

.copy {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-family: sans-serif;
  font-size: 0.75em;
  z-index: 2;
}
